/* NavBar */
.topnav {
    background-color: rgba(3, 99, 78, 0.815);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #031D44;
    color: #fff;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #DAB785;
    color: #fff;
}